<!doctype html>
<html>
  <head>

    <!-- Title of tab / app -->
    <title>Current Favour</title>

    <!-- Bootstrap to stylesheet -->
    <link href = "/css/current.css" rel = "stylesheet">

    <!-- Prevent zooming -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstraps -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min. css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
</head>
<body>

    <h1>Current Favour</h1>
    
    <!-- Favor Requested -->
    <div class="panel panel-primary">
      <!-- Main details of favour -->
      <div class="panel-heading favours" id="top">
        <h1 class="panel-title" id="sub">{{subject}} </h1>
      </div>

      <!-- Description of favour -->
      <div class="panel-body" id="bottom">
        <h4 id="time">Time: {{time}}</h4>
        <h4 id="loc">Location: {{location}}</h4>
        <div class="description">
          <p>{{description}}</p>
        </div>
      </div>
    </div>

    <!-- Accept Button -->
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <ul class="nav navbar-nav">
          <li>
            <a href = "/index" class="navbar-btn navbar-left" role="button" aria-haspopup="true" aria-expanded="false" id="button"><span>CANCEL FAVOUR</span> </a>
            <!-- <div class="alert alert-success alert-warning" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Do You Want to Cancel?</div>-->

            <a  href="/index" class="navbar-btn navbar-right" role="button" aria-haspopup="true" aria-expanded="false" id="button"><span>CONFIRM COMPLETION</span></a>
          </li>
        </ul>
      </div>
    </nav>

  <!-- jQuery and boostraps -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  
  </body>
</html>