<!doctype html>
<html>

<!-- Title of tab / app -->
<head>
	<title>Homepage</title>

	<!-- Bootstrap to stylesheet -->
	<link href = "/css/homepage.css" rel = "stylesheet">

	<!-- Viewtype that prevents from zooming out when changing to phone -->
	<meta name = "viewport" content = "width=device-width, initial-scale=1.0">
</head>

<!-- Actual app -->
<body>
	<div align = "center">
	<div class = "container">

		<!-- Drag down box -->
		<div class = "current" id = "top">
			<p>Drag down to see current favor</p>
		</div>

		<!-- Menu box -->
		<div class = "menu" id = "corner">
			<div class = "menu" id = "line">
			</div>
			<div class = "menu" id = "line">
			</div>
			<div class = "menu" id = "line">
			</div>
		</div>

		<!-- Current favors -->
		<div class = "main" id = "bulk">
			{{#each favours}}
			<div class = "favours" id = "{{id}}">
				<img src = "images/{{image}}" class = "image">
				<p>{{name}}</p>
			</div>
			{{/each}}
		</div>

		<!-- Drag up box -->
		<div class = "request" id = "bottom">
			<p>Drag up to request a new favor</p>
		</div>

	</div>
	</div>

</body>

<!-- End of file -->
</html>
