<!doctype html>
<html>
<head>
  <title>Login - Favor4Favour</title>

  <!-- Bootstrap to stylesheet -->
  <link href = "/css/login.css" rel = "stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>

   <!-- Navigation bar -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <!-- Title at top -->
        <div class="navbar-brand" id="title">Favor4Favour - Login</div>

        <!-- Logo photo -->
        <img id="logo" src="/images/logo-here.png">
      </div>
    </div><!-- /.container-fluid -->
  </nav>


    <div align = "center">
      <div class = "container">

        <!-- Facebook-->

         <p class="facebookLogin">
          Please login through Facebook

            <br>

         <fb:login-button scope="public_profile, user_friends, user_birthday, user_education_history, email"  autologoutlink="true" size="xlarge" show-faces="true" onlogin="checkLoginState();">
        </fb:login-button>

        </p>

        <!-- Username 
        <div class="input-group" id="enterU">
          <span class="input-group-addon" id="basic-addon1">Username: </span>
          <input type="text" class="form-control" placeholder="enter username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group" id="enterP">
          <span class="input-group-addon" id="basic-addon1">Password: </span>
          <input type="password" class="form-control" placeholder="••••••••••" aria-describedby="basic-addon1">
        </div>
-->
        

        <!-- Bottom Login button -->
        <nav class="navbar navbar-default navbar-fixed-bottom">
          <div class="container">
            <ul class="nav navbar-nav">
              <li class="navbar-btn navbar-left btn-lrg" aria-haspopup="true" aria-expanded="false" id="button">  
                <fb:login-button scope="public_profile, user_friends, user_birthday, user_education_history, email"  autologoutlink="true" onlogin="checkLoginState();">
        </fb:login-button>
              </li>
            </ul>
          </div>
        </nav>

  <script src="/js/jquery-1.11.0.js"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.js"></script>
  {{> facebook}}
  <script src="/js/facebook.js"></script>
  
</body>
</html>