<!doctype html>
<html>
<head>
  <title>Login - Favor4Favour</title>

  <!-- Bootstrap to stylesheet -->
  <link href = "/css/login.css" rel = "stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>

   <!-- Navigation bar -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <!-- Title at top -->
        <div class="navbar-brand" id="title">Favor4Favour - Login</div>

        <!-- Logo photo -->
        <img id="logo" src="/images/logo-here.png">
      </div>
    </div><!-- /.container-fluid -->
  </nav>


    <div align = "center">
      <div class = "container">

        <!-- Logo photo -->
      <!--  <img id="welcome" src="/images/logo-here.png">-->

        <!-- Username -->
        <div class="input-group" id="enterU">
          <span class="input-group-addon" id="basic-addon1">Username: </span>
          <input type="text" class="form-control" placeholder="enter username" aria-describedby="basic-addon1">
        </div>

        <!-- Password -->
        <div class="input-group" id="enterP">
          <span class="input-group-addon" id="basic-addon1">Password: </span>
          <input type="password" class="form-control" placeholder="••••••••••" aria-describedby="basic-addon1">
        </div>

        

        <!-- Bottom Login button -->
        <nav class="navbar navbar-default navbar-fixed-bottom">
          <div class="container">
            <ul class="nav navbar-nav">
              <li><a href = "/index" class="navbar-btn navbar-left" role="button" aria-haspopup="true" aria-expanded="false" id="button"><span>Login</span></a>
              </li>
            </ul>
          </div>
        </nav>
 
  <div id="fb-root"></div>
<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

 <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="true" data-auto-logout-link="false"></div>

<div id="status">
</div>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>

  <script src="/js/jquery-1.11.0.js"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/loginJS.js"></script>
  
</body>
</html>