<!doctype html>
<html>

<head>
	<!-- Title of tab / app -->
	<title>Request Favour</title>

	<!-- To not zoom -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Bootstrap to stylesheet -->
	<link href="/css/request.css" rel="stylesheet">
	<link href="/css/map.css" rel="stylesheet">


	<!-- Bootstraps -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
</head>

<body>
	
	<nav class="navbar navbar-default navbar-fixed-top"  role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="btn" id="back">
					<a href = '/index?showModal=fals'>
						<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
					</a>
				</button>

				<!-- Title of page -->
				<a class="navbar-brand" href="">Making A Request</a>

				<!-- Logo photo -->
				<a href = "/index?showModal=fals"><img alt="Brand" src="/images/logo-here.png" id="logo"></a>

			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div align = "center">
		<div class = "maincontainer">

			<!-- Favor to Request -->
			<!--open form-->
			<form id="requestFavour" role="form" method="POST" action="/add">
				<div class="form-group" id="subjectForm">
					<label for="subject">Favour Subject:</label>
					<input type="text" class="form-control" id="subjectControl" placeholder="" name="subject">
				</div>

				<div class="form-group" id="dateTimeForm">
				     <label for="datetime-local-input">Date and time:</label>
				         <div class="input-group date" id="date-picker">
				           	<span class="input-group-addon" id="calendar"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
				           		<input class="form-control" type="date" id="dateControl">
				           		<span class="input-group-addon" id="clock"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></span>
				           		<input class="form-control" type="time" id="timeControl">
				         </div>
				 </div>

				<div class="form-group" id="locationForm">
					<label for="location">Favour Location:</label>
					<input type="text" class="form-control" id="locationControl" placeholder="Location for favour to happen" name="location">
				</div>

				<div class="form-group" id="descriptionForm">
					<label for="description">Favour Description:</label>
					<textarea class="form-control" rows="5" id="descriptionControl" placeholder="More detailed description"></textarea>

				</div>

				<!-- Accept Button -->
				<nav class="navbar navbar-default navbar-fixed-bottom">
					<div class="container">
						<ul class="nav navbar-nav">
							<li>
								
								<input type="submit" id="submitBtn" class="btn navbar-btn navbar-left btn-primary btn-lg" value="Confirm Request"></input>

								<a href="index?showModal=2" class="navbar-btn navbar-right" role="button" aria-haspopup="true" aria-expanded="false" id="cancelRequest button"><button type="button" class="btn btn-danger btn-lg" id="button">Cancel Request</button></a>

							</li>
						</ul>
					</div>
				</nav>
			</form>
		</div>
	</div>



			<script src="/js/jquery-1.11.0.js"></script>
			<script src="https://code.jquery.com/jquery.js"></script>
			<script src="/js/bootstrap.min.js"></script>
			<script src="/js/click.js"></script>

		</body>
		<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92480101-2', 'auto');
  ga('send', 'pageview');

</script>
		</html>
