<!doctype html>
<html>

<head>
	<!-- Title of tab / app -->
	<title>Request Favour</title>

	<!-- To not zoom -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Bootstrap to stylesheet -->
	<link href="/css/request.css" rel="stylesheet">
	<link href="/css/map.css" rel="stylesheet">


	<!-- Bootstraps -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
</head>

<body>
	
	<nav class="navbar navbar-default navbar-fixed-top"  role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="btn" id="back">
					<a href = '/index?showModal=fals'>
						<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
					</a>
				</button>

				<!-- Title of page -->
				<a class="navbar-brand" href="">What You're Doing</a>

				<!-- Logo photo -->
				<a href = "/index?showModal=fals"><img alt="Brand" src="/images/logo-here.png" id="logo"></a>

			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div align = "center">
		<div class = "maincontainer">


			<!-- Modal -->
				<!--<div class="modal fade" id="confirmRequest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title" id="myModalLabel">Favour Request Submitted</h4>
							</div>
							<div class="modal-body">
								Your favour request was successfully submitted
							</div>
							<div class="modal-footer">

								<input type="submit" id="submitBtn" class="btn navbar-btn navbar-left btn-primary btn-lg" data-toggle="modal" data-target="#confirmRequest" value="Confirm Request"></input>
							</div>
						</div>
					</div> 
				</div>-->



				


					<!-- Favor to Request -->
					<!--open form-->

					<form id="requestFavour" role="form" method="GET" action="/add">
						<div class="form-group">
							<label for="name">Name:</label>
							<input type="text" class="form-control" id="name" placeholder="Name" name="name">
						</div>
						<div class="form-group">
							<label for="subject">Favour Subject:</label>
							<input type="text" class="form-control" id="subject" placeholder="Subject" name="subject">
						</div>


						<div class="form-group">
							<label for="datetime-local-input" class="col-2 col-form-label">Date and time</label>
							    <input class="form-control" type="datetime-local" value="2017-03-01T13:45:00" id="datetime-local-input">
						</div>


						<div class="form-group">
							<label for="location">Favour Location:</label>
							<input type="text" class="form-control" id="location" placeholder="Location" name="location">
						</div>

						<div class="form-group">
							<label for="description">Favour Description:</label>
							<input type="text" class="form-control" id="description" placeholder="Description" name="description">
						</div>

						<!-- Accept Button -->
						<nav class="navbar navbar-default navbar-fixed-bottom">
							<div class="container">
								<ul class="nav navbar-nav">
									<li>
										<input type="submit" id="submitBtn" class="btn navbar-btn navbar-left btn-primary btn-lg" value="Confirm Request"></input>

										<a href="index?showModal=2" class="navbar-btn navbar-right" role="button" aria-haspopup="true" aria-expanded="false" id="cancelRequest"><button type="button" class="btn btn-danger btn-lg" >
											Cancel Request
										</button></a>

									</li>
								</ul>
							</div>
						</nav>
					</form>
				</div>
			</div>



			<script src="/js/jquery-1.11.0.js"></script>
			<script src="https://code.jquery.com/jquery.js"></script>
			<script src="/js/bootstrap.min.js"></script>
			<script src="/js/click.js"></script>

		</body>
		</html>
