<!doctype html>
<html>

<head>

  <!-- Title of tab / app -->
  <title>Confirm Submission</title>


  <!-- Bootstrap to stylesheet -->
  <link href = "/css/requestconfirm.css" rel = "stylesheet">

  <!-- Not zoom -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Bootstraps -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

  <!-- Navigation bar on top, meaning back and logo -->
  <nav class="navbar navbar-default navbar-fixed-top"  role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="btn" id="back">
          <a href = 'request'>
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
          </a>
        </button>

        <a class="navbar-brand" href="">Please Confirm Request</a>

        <img alt="Brand" src="/images/logo-here.png" id="logo">

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  
    <!-- Favor Requested -->
    <div class="panel panel-primary">
      <!-- Main details of favour -->
        <div class="panel-heading favours">

        <!-- Subject -->
        <h1 class="panel-title" id="sub">Subject{{subject}} </h1>
      </div>

      <!-- Description of favour -->
      <div class="panel-body" id="bottom">
        <h4 id="time">Time: {{time}}</h4>
        <h4 id="loc">Location: {{location}}</h4>
        <div class="description">
          <p>{{description}}</p>
        </div>
      </div>
    </div>

    <div id="noConfirmModal" class="modal fade">
      <div class="modal-content alert alert-danger alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismissible="alert" aria-lable="Close"></button>
      <h6>You Did Not Submit a Favour Request </h6>
      <p>
      <button type="button" class="btn">OK</button></p>
      </div>
    </div>


<a href="/index">
    <div id="requestConfirmModal" class="modal fade">
      <div class="modal-content alert alert-danger alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismissible="alert" aria-lable="Close"></button>
      <h6>You Succesfully Submit a Favour Request </h6>
      <p>
      <button type="button" class="btn">OK</button></p>
      </div>
    </div>
</a>


<!-- Button trigger modal -->







    <!-- Accept Button -->
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a href = "#" class="navbar-btn navbar-left" role="button" aria-haspopup="true" aria-expanded="false"><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#confirmRequest">
  Confirm Request
</button> </a>
            
          <a  href="request" class="navbar-btn navbar-right" role="button" aria-haspopup="true" aria-expanded="false" id="cancelRequest"><button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#noConfirmRequest">
  Cancel Request
</button></a>

          </li>
        </ul>
      </div>
    </nav>
    
<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/click.js"></script>


</body>
</html>