<!doctype html>
<html>

<!-- Title of tab / app -->
<head>
	<title>Select Favour</title>

	<!-- Bootstrap to stylesheet -->
	<link href = "/css/select.css" rel = "stylesheet">

	<!-- Viewtype that prevents from zooming out when changing to phone -->
	<meta name = "viewport" content = "width=device-width, initial-scale=1.0">

	<!-- Bootstraps --><!--
	<link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">-->

</head>

<!-- Actual app -->
<body>
	<div align = "center">
	<div class = "container">

		<!--Back to Home Button-->
		<div class = "corner" id = "back">
			<a href = "..">
			<img src = "/images/back.png" class = "image" id = "back">
			</a>
		</div>

		<!-- Favor Requested -->
		<div class = "main" id = "bulk">
			<div class = "favours" id = "{{id}}">
				<!-- Image -->
				<img src = "../images/sample.png" class = "image">
				<!-- Subject -->
				<h1> {{subject}} </h1>
				<h2>{{name}}</h2>
				<h4>Time: today</h4>
				<h4>Location: here</h4>
				<div class = "box" id = "description">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu sollicitudin velit. In at lacus suscipit, gravida nunc nec, dapibus justo. Nulla malesuada venenatis lorem, at molestie urna fringilla ut. Pellentesque vel sem nisl. Duis lorem ex, sodales nec nulla in, tincidunt placerat nisi. Donec maximus cursus mi, sed tristique magna sollicitudin id. Donec sit amet turpis vestibulum, mattis lectus vitae, malesuada turpis. Proin hendrerit fringilla nulla id fermentum. Mauris ut mauris quam. Quisque metus lacus, congue at scelerisque vel, suscipit vitae libero. Etiam iaculis arcu vel orci rhoncus tristique. Nulla vitae fringilla erat, in porta ex. Aliquam euismod orci et augue porta eleifend. Donec enim mauris, rutrum sit amet sem ut, faucibus tempor velit. In feugiat, eros condimentum facilisis fermentum, urna massa mattis eros, ac suscipit ipsum lacus vitae magna. In at tristique tortor. Ut fringilla tincidunt nisl, non vehicula ligula. Phasellus eu velit feugiat, semper est eget, rhoncus felis. Cras faucibus orci et massa ullamcorper, eget porttitor justo rutrum. Morbi congue blandit lorem id semper. Proin lacinia quam id sapien aliquet, id interdum neque convallis. Morbi efficitur bibendum nibh sed cursus. Maecenas sit amet tempor nulla. Aenean sapien diam, imperdiet non condimentum at, molestie in quam. Pellentesque suscipit at justo eu lobortis. Suspendisse tincidunt egestas pharetra.</p>
				</div>
			</div>
		</div>

		<!-- Accept Button -->
		<div class = "button" id = "accept">
			<a href = "/html/accept.html">
			<p>Accept</p>
			</a>
		</div>

	</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</body>

<!-- End of file -->
</html>
