/* Whole app */
body {
	padding-top: 70px;
	text-decoration: none;
}

#back {
	margin: 8px 5px;
	float: left;
}

.navbar-brand {
  transform: translateX(-52%);
  margin-left: 35%;
  position: absolute;
}

/* Logo properties */
#logo {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 5px;
  right: 5px;
}

/* The favour box */
.panel {
	height: 60%;
	width: 90%;
	float: left;
	margin-left: 5%;
	position: fixed;
	overflow-y: auto;
}

/* Dialogue boxes' buttons */
#diabutton {
	text-align: center;
}

/* Bottom buttons */
#button {
	color: #fff;
	width: 70%;
	margin-left: 15%;
	border-radius: 5px;
	text-transform: uppercase;
	background-color: #337ab7;
	text-align: center;
}

/* Removing underline from all hyperlinks */
a {
	line-height: 12px;
	font-size: 12px;
	color: #000;
	text-decoration: none;
}