/* Whole app */
body {
	padding-top: 70px;
	text-decoration: none;
	font-family: "Gill Sans";

}

/* Back button */
#back {
	float: left;
	margin: 5px;
	color: #003399;
}

.navbar-brand {
  transform: translateX(-42%);
  margin-left: 39%;
  position: absolute;
}

/* Logo properties */
#logo {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 5px;
  right: 5px;
}

/* The favour box */
.panel {
	height: 70%;
	width: 90%;
	float: left;
	margin-left: 5%;
	position: fixed;
	overflow-y: auto;
}

#list li{
	    list-style-type: none;
	    text-decoration: none;
}

#title{
	padding-left: 17%;
}

/* Picture */
.image {
	height: 100px;
	width: 100px;
	border-radius: 100px;
	float: left;
	margin-right: 5px;
}

#name {
	text-align: justify;
	line-height: 15px;
	color: #fff;
}

#sub {
	text-align: center;
	color: #000;
}

#loc,#time {
	text-align: justify;
	line-height: 15px;
	color: #000;
}

/* Bottom buttons */
#button {
	color: #fff;
	width: 45%;
	float: left;
	margin-left: 3%;
	border-radius: 5px;
	text-transform: uppercase;
	background-color: #337ab7;
	text-align: center;
}

/* Removing underline from all hyperlinks */
a {
	line-height: 12px;
	font-size: 12px;
	color: #000;
	text-decoration: none;
}