/* Whole app */
body {
	background-color: #666A86;
	padding: 5px;
}

body p {
	line-height: 12px;
	font-size: 12px;
	text-align: justify;
}

/* Drag down to see current favor */
.current {
	position: absolute;
	top: 0px;
	height: 5%;
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: #fff;
	background-color: #92B6B1;
}

.current p {
	text-align: center;
}

/* Menu */
#corner {
	padding-top: 5px;
	padding-left: 5px;
	margin-top: 6%;
	margin-right: 80%;
	width: 50px;
	height: 50px;
	border-width: 1px;
	border-style: solid;
	border-color: #fff;
	background-color: #92B6B1;
}

/* Inside menu box */
#line {
	height: 5px;
	width: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #fff;
	margin-top: 7px;
	background-color: #666A86;
}

/* Favour box */
.main {
	height: 70%;
	width: 95%;
	margin-top: 3%;
	position: fixed;
	overflow-y: scroll;
}

/* Each favour */
.favours {
	height: 120px;
	width: 90%;
	background-color: #92B6B1;
	padding:15px;
	margin-bottom: 15px;
}

/* Picture */
.image {
	height: 100px;
	width: 100px;
	border-radius: 100px;
	float: left;
	margin-right: 5px;
}

/* Drag up to add new favor */
.request {
	position: absolute;
	bottom: 0px;
	height: 5%;
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: #fff;
	background-color: #92B6B1;
}

.request p {
	text-align: center;
}