/* Whole app */
body {
	padding-top: 30px;
	text-decoration: none;
	font-family: "Gill Sans";
}

#ham {
	margin: 8px 5px;
	float: left;
}

#name{
 	font-size: 20px;
}

#list li {
	font-size: 25px;
	list-style-type: none;
	text-decoration: none;
}



#list #pro {
	margin-top: 10px;
}

#list a {
	font-size: 17px;

}

.modal-dialog {
  display: inline-block;
  text-align: left;
}

.modal-dialog p {
	padding-right: 15px;
}

.modal{
	padding-top: 40%;
}

.navbar-brand {
  transform: translateX(-52%);
  margin-left: 50%;
  position: absolute;
}

/* Logo properties */
#logo {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 5px;
  right: 5px;
}

/* Navigational Bar */
#menubar { 
	list-style: none;
}

#pro,#set,#sort {
	line-height: 12px;
	text-align: justify;
	color: #000;
	text-decoration: none;
}

#main {
	background-color: #337ab7;
}

/* Favour box */
.favour-container {
	height: 85%;
	width: 98%;
	margin-left: 1%;
	padding-left: 10px;
	padding-right: 10px;
	position: fixed;
	overflow-y: auto;
	border-radius: 4px;
}

/* Each favour */
#favours {
	height: 110px;
	width: 100%;
	background-color: #ffffff;
	border-radius: 4px;
}

.panel {
	border-bottom: 5px solid #337ab7;
	margin-bottom: 0px;
}

.panel-body {
	padding: 0px 5px;
}


#left {
	width: 47%;
	float: left;
	padding: 0px 5px;
	margin-left: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
}


#right {
	width: 47%;
	float: right;
	padding: 0px 5px;
	margin-right: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
}

#name{
	font-weight: 600;
	margin-left: 24%;
}

#sub {
	text-align: left;
	color: #000;
	text-decoration: none;
	margin-left: 27%;
	font-weight: 200;

}

#name,#bod,#time,#loc {
	text-align: left;
	color: #000;
	text-decoration: none;
}

#space {
	color: #fff;
}

/* Picture */
.image {
	height: 71px;
	width: 71px;
	border-radius: 100px;
	float: left;
	margin: 0px 5px;
}

/* Bottom buttons */
#lbutton {
	color: #fff;
	width: 40%;
	float: left;
	margin-left: 5%;
	border-radius: 5px;
	text-transform: uppercase;
	background-color: #337ab7;
}

#rbutton {
	color: #fff;
	width: 40%;
	float: left;
	margin-left: 5%;
	border-radius: 5px;
	text-transform: uppercase;
	background-color: #337ab7;
}

/* Removing underline from all hyperlinks */
a {
	line-height: 12px;
	font-size: 12px;
	color: #000;
	text-decoration: none;
	text-align: center;
}