/* Whole app */
body {
	padding-top: 55px;
	text-decoration: none;
}

#ham {
	margin: 8px 5px;
	float: left;
}

#title{
	padding-left: 17%;
}

/* Logo properties */
#logo {
	height: 40px;
	width: 40px;
	margin: 5px;
	float: right;
}

/* Centering the title of page */
.navbar-brand {
	margin: 0;
	float: none;
}

/* Navigational Bar */
#menubar { 
	list-style: none;
}

#pro,#set,#sort {
	line-height: 12px;
	text-align: justify;
	color: #000;
	text-decoration: none;
}

#main {
	background-color: #337ab7;
}

/* Favour box */
.favour-container {
	height: 73%;
	width: 90%;
	margin-left: 5%;
	padding-left: 10px;
	padding-right: 10px;
	position: fixed;
	overflow-y: auto;
	background-color: #337ab7;
	border-radius: 4px;
}

/* Each favour */
#favours {
	height: 120px;
	width: 100%;
	background-color: #ffffff;
	border-radius: 4px;
}

#favours h1,h2,h3,h4,h5,h6 {
	line-height: 12px;
	text-align: justify;
	color: #000;
	text-decoration: none;
}

#sub,#name,#bod,#time,#loc {
	line-height: 12px;
	text-align: justify;
	color: #000;
	text-decoration: none;
}

#name {
	padding-top: 15px;
}

#space {
	color: #337ab7;
}

/* Picture */
.image {
	height: 120px;
	width: 120px;
	border-radius: 100px;
	float: left;
	padding: 10px;
	margin-right: 5px;
}

/* Bottom buttons */
#button {
	color: #fff;
	width: 70%;
	margin-left: 15%;
	border-radius: 5px;
	text-transform: uppercase;
	background-color: #337ab7;
}

/* Removing underline from all hyperlinks */
a {
	line-height: 12px;
	font-size: 12px;
	color: #000;
	text-decoration: none;
	text-align: center;
}