/* Whole app */
body {
	padding-top: 55px;
	text-decoration: none;
	  font-family: "Gill Sans";
}

#message{
	font-weight: 600;
	font-size: 20px;
}

.facebookLogin{
	float: center;
}

.navbar-brand {
  transform: translateX(-52%);
  margin-left: 35%;
  position: absolute;
}

/* Logo properties */
#logo {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.well{
	padding-top: 15%;
	margin-top: 45%;
}

.facebookLogin{
	left: 23%;
	padding-bottom: 30px;
}

#title{
	padding-left: 25%;
}

/* Main body */
.container {
	background-image: "/images/logo-here.png";
}

/* Lowering uesrname bar */
#enterU {
	margin-top: 20%;
}

/* Separating password bar a bit */
#enterP {
	margin-top: 5%;
}

/* Picture */
.image {
	height: 100px;
	width: 100px;
	border-radius: 100px;
	float: left;
	margin-right: 5px;
}

.panel h1,h2,h3,h4,h5,h6 {
	text-align: justify;
	line-height: 15px;
	color: #fff;
}

/* Bottom buttons */
#button {
	color: #fff;
	width: 70%;
	border-radius: 5px;
	text-transform: uppercase;
	background-color: #337ab7;
	text-align: center;
}

/* Removing underline from all hyperlinks */
a {
	line-height: 12px;
	font-size: 12px;
	color: #000;
	text-decoration: none;
}