/* Whole app */
body {
	padding-top: 70px;
	text-align: justify;
}

/* Back button */
#back {
	margin: 5px;
	color: #003399;
	float: left;
}

.navbar-brand {
  transform: translateX(-52%);
  margin-left: 35%;
  position: absolute;
}

/* Logo properties */
#logo {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 5px;
  right: 5px;
}

/* Centering top text */
#title {
	text-align: center;
}

/* Picture */
.image {
	height: 100px;
	width: 100px;
	border-radius: 100px;
	float: left;
	margin-right: 5px;
}

#sub,#name {
	text-align: justify;
	line-height: 15px;
	color: #fff;
}

/* Favor box bottom part */
#bottom {
	text-align: justify;
	font-size: 12px;
	line-height: 12px;
	color: #000;
}

#time,#loc {
	text-align: justify;
	line-height: 13px;
	color: #000;
}

.description {
	text-align: justify;
	font-size: 12px;
	line-height: 12px;
	color: #000;
	overflow-y: auto;
}

/* Accept button */
#button {
	color: #fff;
	width: 70%;
	margin-left: 15%;
	border-radius: 5px;
	background-color: #337ab7;
	text-align: center;
	text-transform: uppercase;
}

/* Getting rid of underline from href */
a {
	text-decoration: none;
}