/* Whole app */
body {
	background-color: #666A86;
	padding-top: 70px;
}

body p {
	line-height: 12px;
	font-size: 12px;
	text-align: justify;
}

/* Back button */
.corner {
	padding-top: 5px;
	padding-left: 5px;
	margin-right: 80%;
	height: 50px;
	width: 50px;
}

/* Back button picture */
#back {
	height: 50px;
	width: 50px;
}

/* Favour box */
.main {
	height: 100%;
	width: 100%;
}

/* Picture */
.image {
	height: 100px;
	width: 100px;
	border-radius: 100px;
	float: left;
	margin-right: 5px;
}

h1,h2,h3,h4,h5,h6 {
	text-align: justify;
	line-height: 15px;
}

/* Description */
.box {
	height: 50%;
	width: 90%;
	position: fixed;
	overflow: auto;
}

.box p {
	font-size: 13px;
	color: #fff;
}

/* Accept button */
.button {
	height: 5%;
	width: 50%;
	position: absolute;
	bottom: 5%;
	left: 25%;
	border-width: 1px;
	border-style: solid;
	border-color: #fff;
	background-color: #92B6B1;
}


/* Getting rid of underline from href */
a {
	text-decoration: none;
}