/* Whole app */
body {
	padding-top: 70px;
	text-align: justify;
	font-family: "Gill Sans";
}

/* Back button */
#back {
	margin: 5px;
	color: #003399;
}

.navbar-brand {
  transform: translateX(-52%);
  margin-left: 35%;
  position: absolute;
}

/* Logo properties */
#logo {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 5px;
  right: 5px;
}

/* Favour box */
.main-container {
	width: 90%;
	margin-left: 5%;
}

/* Picture */
.image {
	height: 100px;
	width: 100px;
	border-radius: 100px;
	float: left;
	margin-right: 5px;
}

#name {
	text-align: justify;
	line-height: 15px;
	color: #fff;
}

/* Favor box bottom part */
#bottom {
	text-align: justify;
	font-size: 12px;
	line-height: 12px;
	color: #000;
}

#sub {
	text-align: center;
	color: #000;
}

#loc,#time {
	text-align: justify;
	line-height: 15px;
	color: #000;
}

.description {
	text-align: justify;
	font-size: 15px;
	line-height: 20px;
	color: #000;
	overflow-y: auto;
	margin-left: 5px;
	margin-right: 5px;
}

/* Text if already have a favour doing */
#title {
	text-align: center;
	margin-bottom: 15px;
}

#message{
	font-weight: 600;
	font-size: 40px;
}
/* Accept button */
#buttonAccept {
	color: #fff;
	width: 70%;
	margin-left: 15%;
	border-radius: 5px;
	background-color: #337ab7;
	text-align: center;
	text-transform: uppercase;
}

/* Getting rid of underline from href */
a {
	text-decoration: none;
}